.btn {
    color: $white;
    background-color: $orange-dark;
}

.btn-white {
    background-color: $white;
}

.btn,
.btn-white {
    line-height: 20px;
    border-radius: 10px;
    padding: 16px 40px;
}