// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mix
.wrapper {
    font-family: 'DM Sans', sans-serif;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

p {
    margin: 20px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

section {
    margin: 100px 0;
}

// Containers (Main)
.container {
    margin: 0 auto;
    max-width: 1200px;
}

// Form container
.form-container {
    flex-direction: column;
    background-color: $white;
    width: 450px;
    border-radius: 15px;

    & input {
        width: 90%;
    }
}