// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mix
.wrapper {
    font-family: 'DM Sans', sans-serif;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

p {
    margin: 20px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

section,
footer {
    margin: 100px 0;
}

// Containers (Main)
.container {
    margin: 0 auto;
    max-width: 1200px;
}

// Form container
.form-container {
    flex-direction: column;
    align-items: center;
    font-size: $font-normal;
    padding: 25px 25px 10px;
    background-color: $white;
    width: 420px;
    border-radius: 15px;

    img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    p {
        color: $grey-dark;

        &:last-of-type {
            margin-top: 0;
            margin-bottom: 15px;
        }

        small {
            font-size: 14px;
        }
    }

    
    a {
        color: $orange-dark;
        font-size: $font-small;
        font-weight: 500;
        
        &.btn {
            color: $white;
            width: 100%;
            margin-top: 10px;
        }
        
        &.btn:hover {
            background-color: $orange-light;
        }
        
        i {
            margin-bottom: 30px;
        }
    }
    
    input {
        width: 100%;
        height: 55px;
        margin: 10px 0;
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        transition: 0.5s;

        &:hover {
            border: 1px solid $orange-dark;
        }

        &::placeholder {
            font-size: $font-small;
        }
    }
}