header {
    .navbar {
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: $font-nav;

        .logo {
            margin-right: 15px;
        }
        
        ul.main-nav {
            align-items: center;
            height: 50px;

            li {
                margin: 0 15px;
                height: 30px;

                a {
                    color: $black;
                }
            }

            li:first-child {
                border-bottom: 2px solid $orange-dark;

                a {
                    color: $orange-dark;
                }
            }

            li:hover {
                border-bottom: 2px solid $orange-dark;

                a {
                    color: $orange-dark;
                }
            }
        }
        
        ul.secondary-nav {
            align-items: center;
            margin-left: 40px;
            height: 50px;

            li {
                & .btn {
                    opacity: 0.4;
                }

                & .btn:hover {
                    opacity: 1;
                }
            }

            li:first-child {
                margin-right: 25px;
                
                i {
                    margin-right: 15px;
                    color: $orange-dark;
                }

                a {
                    color: $black;
                }
            }
        }
    }
}