.features {
    .container {
        justify-content: space-between;
        align-items: center;
        
        .image-container {            
            img {
                width: 100%;
            }
        }
        
        .text-container {
            p {
                font-size: $font-normal;
            }

            a {
                display: block;
                margin-top: 50px;
            }
        }

        .image-container,
        .text-container {
            width: 50%;
            margin: 0 80px;
        }

        &.reverse {
            flex-direction: row-reverse;
        }
    }        
}