#resources {
    background-color: $grey-light;
    padding: 80px 0 100px;
    margin-bottom: 0;

    .container {
        .title-button-box {
            justify-content: space-between;
            margin-bottom: 90px;

            .title {
                width: 55%;

                h2 {
                    line-height: $line-height;
                }
            }

            a {
                align-self: flex-end;
                margin-bottom: 20px;
            }
        }

        .img-boxes {
            width: 100%;

            .img-box {
                width: calc(100% / 3);
                position: relative;
                cursor: pointer;
                
                &:nth-child(2) {
                    margin: 0 35px;
                }
                
                img {
                    width: 100%;
                    margin-bottom: 25px;
                }

                .overlay {
                    height: 69%;
                    top: 0;
                }

                &:hover .overlay {
                    visibility: visible;
                }
            }
        }
    }
}