#team {
    margin: 0;

    .container {
        justify-content: center;
        align-items: center;

        .image-box {
            width: 50%;

            img {
                width: 80%;
                border-radius: 10px;
                box-shadow: 10px 10px 15px $grey-light;
            }
        }

        .text-box {
            padding-right: 40px;
            width: 40%;

            p {
                margin: 0;
            }
        }
    }
}