.features {    
    .container {
        justify-content: space-between;
        align-items: center;
        
        .image-container {
            margin: 0 100px;
            
            img {
                width: 100%;
            }
        }
        
        .text-container {
            width: 40%;
            margin: 0 80px;

            p {
                font-size: $font-normal;
            }

            a {
                display: block;
                margin-top: 50px;
            }
        }

        &.reverse {
            flex-direction: row-reverse;
        }
    }        
}