#optimization {
    padding-top: 70px;
    background-color: $grey-light;

    .container {
        padding: 30px 0;
        align-items: center;

        .text-box {
            width: 50%;

            p {
                font-size: $font-normal;
                margin-bottom: 50px;
            }
        }

        .image-box {
            width: 50%;
            margin-left: 70px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }

    .container.second {
        .par-box {
            flex-direction: column;
            width: 55%;

            .text-container {
                &:first-child {
                    margin-bottom: 50px;
                }

                p {
                    font-size: $font-small;
                }
            }
        }

        .qualities {
            width: 50%;
            margin-left: 120px;

            ul {
                margin-top: 20px;

                li {
                    align-items: center;
                    
                    &:hover {
                        i,
                        .texts h3 {
                            color: $orange-dark;
                        }
                    }
                    
                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }
                    
                    i {
                        font-size: 30px;
                        color: $orange-dark;
                        border: 2px solid $orange-dark;
                        border-radius: 20px;
                        padding: 25px;
                    }
                    
                    .texts {
                        margin-left: 45px;
                        
                        h3 {
                            transition: 0.5s;
                            font-size: $font-normal;
                        }

                        p {
                            margin: 25px 0 5px;
                            font-size: $font-small;
                        }
                    }
                }
            }
        }
    }

    .container.third {
        flex-direction: column;
        margin-top: 60px;

        .awards {
            margin: 50px 0;
            
            .awards-box {
                flex-direction: column;
                align-items: center;

                img {
                    width: 50%;
                    height: 115px;
                }

                p {
                    width: 100%;
                    font-size: $font-small;
                    line-height: 30px;
                    margin-top: 0;
                }

                &:not(:last-child) {
                    margin-right: 80px;
                }
            }
        }
    }
}