h1 {
    font-size: $font-bigger;
    color: $white;
}

.form-container {
    h4 {
        font-size: 26px;
        margin-top: 15px;
    }
}

.features,
#brands,
#organisations,
#optimization,
#resources {
    h2 {
        font-size: $font-big;
        color: $black;
        line-height: $line-height;
    }
}

#brands,
#optimization,
#make-happen {
    h4,
    h5 {
        font-size: $font-normal;
    }
}

#optimization,
#team,
#resources,
footer {
    h3 {
        font-size: 32px;
        font-weight: 500;
    }
}

#team {
    h5 {
        font-size: $font-small;
        margin: 50px 0 10px;
    }
}

#make-happen {
    h2 {
        font-size: $font-bigger;
        color: $white;
        line-height: 80px;
    }
}

footer {
    h5 {
        font-size: 20px;
        font-weight: 500;
    }
}