// Colors
$orange-dark: #7310f7;
$orange-light: #eb621f;
$white: #fefefe;
$black: #010101;
$grey-dark: #858786;
$grey-light: #f7f7f8;

// Font sizes
$font-small: 18px;
$font-normal: 24px;
$font-big: 54px;
$font-bigger: 70px;

// Line-height
$line-height: 60px;