// Colors
$orange-dark: #f76210;
$orange-light: #eb621f;
$white: #fefefe;
$black: #010101;
$grey-dark: #858786;
$grey-light: #e4e3e2;

// Font sizes
$font-small: 18px;
$font-normal: 24px;
$font-big: 54px;