// Colors
$orange-dark: #f76210;
$orange-light: #eb621f;
$white: #fefefe;
$black: #010101;
$grey-dark: #858786;
$grey-light: #f7f7f8;
$green: #78e733e7;
$yellow: #ece046;
$blue: #2455b0;

// Font sizes
$font-small: 18px;
$font-normal: 24px;
$font-big: 54px;
$font-bigger: 65px;

// Line-height
$line-height: 60px;